/* html {
    font-size: 13pt;
} */

body {
    font-family: "LXGW WenKai GB Screen", sans-serif;
    font-weight: normal;
}

article {
    font-family: "LXGW WenKai Screen", sans-serif;
}

code,
kbd,
samp,
pre {
    font-family: "LXGW WenKai Mono Screen", monospace;
}